{{define "header"}}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/booking">Home</a>
            </li>
            {{if eq .UserName ""}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/booking/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout ({{.UserName}})</a>
                </li>
            {{end}}
        </ul>
    </nav>
{{end}}